@import "tailwindcss";

:root {
    --background-color: #11295f;
}

body {
    font-family: 'Lexend Deca', sans-serif;
}

#root {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--background-color);
}

.bg-primary-blue {
    background-color: var(--background-color);
}